body {
  background-color: #000000;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}
